:root {
  --main-bg-color: #f7f7f7;
  --main-text-color: #0F1322;
  --second-text-color: #3D4046;
  --second-bg-color: #F6F4F2;
}

a:hover {
  color: var(--main-text-color);
}

.primary-text {
  color: var(--main-text-color);
  text-decoration: none;
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 15%;
}

#wrapper {
 overflow-x: hidden;
 background-color: var(--main-bg-color);
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}
.list-group-item-action:active,
.list-group-item-action:hover {
  color: var(--main-text-color);
  background-color: #f7f7f7;
}

.dropdown-item:focus, 
.dropdown-item:hover {
  color: var(--main-text-color);
  background-color: #f7f7f7;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.dash-chart{
  background-color: #ffffff;
  padding: 15px;
}
